@page "/fetchdata"
@inject HttpClient Http

@inject HttpClient Http
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject IJSRuntime jsRuntime


@if (ege == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px; width:150px;">Kategori</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px; width:150px;">Placering</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px; width:150px;">Seneste placering Egedal</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px; width:150px;">Status Egedal</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px; width:150px;">Seneste maaling Egedal</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px; width:150px;">Status Danmark</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px; width:150px;">Opdateret</th>
            </tr>
        </thead>
    </table>
    @foreach (var maal in ege)
        {

    <table class="table">
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: left; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 17px; width:150px;">@maal.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 20px; width:150px;">@maal.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 20px; width:150px;">@maal.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 20px; width:150px;">@maal.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 20px; width:150px;">@maal.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 20px; width:150px;">@maal.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 20px; width:150px;">@maal.Dato</td>
            </tr>
        </tbody>
    </table>
        }
}


@code
{

    private Egedalmaal[] ege;

    protected override async Task OnInitializedAsync()
    {
        
        ege = await Http.GetFromJsonAsync<Egedalmaal[]>("http://egedal27api:84/api/egemaal");
        

    }


    public class Egedalmaal
    {
        public int id { get; set; }
        public string kategori { get; set; }
        public double? statusEgedal { get; set; }
        public double? statusDanmark { get; set; }
        public double? senesteEgedal { get; set; }
        public double? senesteDanmark { get; set; }
        public int? placering { get; set; }
        public string? Hvad { get; set; }
        public string? Hvorfor { get; set; }
        public string? Initiativer { get; set; }
        public string? Indikator { get; set; }
        public string? Dato { get; set; }


    }
}

