@page "/print"


@inject HttpClient Http
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject IJSRuntime jsRuntime

<h3>Print</h3>
@if (tal_Afgangskarakterer == null) 
{
    <h4>Loading...</h4>
}
else {
    
<div style="padding-left: 120px; padding-right: 120px;">
    <table class="table">
        <thead>
            <tr>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; -moz-border-radius-topleft: 99px;">Kategori</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px;">Placering</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px;">Seneste placering Egedal</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px;">Status Egedal</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px;">Seneste måling Egedal</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px;">Status Danmark</th>
                <th style="border: 1px solid #ccc; text-align: center; background-color:rgb(214, 224, 197); border-color: white; padding: 1rem; font-size: 25px;">Opdateret</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Afgangskarakterer.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Afgangskarakterer.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Afgangskarakterer.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Afgangskarakterer.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Afgangskarakterer.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Afgangskarakterer.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Afgangskarakterer.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FraværFolkeskolen.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FraværFolkeskolen.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FraværFolkeskolen.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FraværFolkeskolen.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FraværFolkeskolen.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FraværFolkeskolen.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FraværFolkeskolen.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_ForebyggelseUdsatteBørn.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Sikker_Skoletrafik.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Sikker_Skoletrafik.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Sikker_Skoletrafik.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Sikker_Skoletrafik.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Sikker_Skoletrafik.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Sikker_Skoletrafik.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Sikker_Skoletrafik.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_EleverUngdomsUdd.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_EleverUngdomsUdd.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_EleverUngdomsUdd.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_EleverUngdomsUdd.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_EleverUngdomsUdd.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_EleverUngdomsUdd.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_EleverUngdomsUdd.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Beskæftigelsesgraden.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Beskæftigelsesgraden.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Beskæftigelsesgraden.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Beskæftigelsesgraden.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Beskæftigelsesgraden.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Beskæftigelsesgraden.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Beskæftigelsesgraden.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Erhvervsklima.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Erhvervsklima.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Erhvervsklima.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Erhvervsklima.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Erhvervsklima.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Erhvervsklima.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Erhvervsklima.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Udlicitering.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Udlicitering.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Udlicitering.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Udlicitering.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Udlicitering.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Udlicitering.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Udlicitering.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskHelbred.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskHelbred.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskHelbred.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskHelbred.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskHelbred.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskHelbred.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskHelbred.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskAktivitet.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskAktivitet.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskAktivitet.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskAktivitet.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskAktivitet.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskAktivitet.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_FysiskAktivitet.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Rygning.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Rygning.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Rygning.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Rygning.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Rygning.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Rygning.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Rygning.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Alkohold.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Alkohold.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Alkohold.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Alkohold.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Alkohold.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Alkohold.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Alkohold.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genindlæggelser.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genindlæggelser.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genindlæggelser.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genindlæggelser.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genindlæggelser.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genindlæggelser.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genindlæggelser.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_OfteAlene.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_OfteAlene.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_OfteAlene.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_OfteAlene.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_OfteAlene.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_OfteAlene.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_OfteAlene.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MentaltHelbred.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MentaltHelbred.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MentaltHelbred.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MentaltHelbred.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MentaltHelbred.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MentaltHelbred.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MentaltHelbred.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Stress.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Stress.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Stress.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Stress.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Stress.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Stress.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Stress.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AntalInbrud.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AntalInbrud.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AntalInbrud.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AntalInbrud.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AntalInbrud.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AntalInbrud.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AntalInbrud.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AnmVoldsforbrydelse.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AnmVoldsforbrydelse.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AnmVoldsforbrydelse.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AnmVoldsforbrydelse.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AnmVoldsforbrydelse.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AnmVoldsforbrydelse.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_AnmVoldsforbrydelse.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_LiggetidHusSalg.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_LiggetidHusSalg.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_LiggetidHusSalg.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_LiggetidHusSalg.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_LiggetidHusSalg.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_LiggetidHusSalg.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_LiggetidHusSalg.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_BesøgBibl.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_BesøgBibl.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_BesøgBibl.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_BesøgBibl.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_BesøgBibl.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_BesøgBibl.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_BesøgBibl.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_UnikkeMedlIdræt.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_UnikkeMedlIdræt.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_UnikkeMedlIdræt.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_UnikkeMedlIdræt.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_UnikkeMedlIdræt.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_UnikkeMedlIdræt.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_UnikkeMedlIdræt.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genanvendelse.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genanvendelse.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genanvendelse.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genanvendelse.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genanvendelse.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genanvendelse.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Genanvendelse.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_CO2_reduktion.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_CO2_reduktion.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_CO2_reduktion.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_CO2_reduktion.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_CO2_reduktion.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_CO2_reduktion.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_CO2_reduktion.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Anbefaling.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Anbefaling.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Anbefaling.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Anbefaling.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Anbefaling.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Anbefaling.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_Anbefaling.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_TilfredshedKommuneService.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_TilfredshedKommuneService.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_TilfredshedKommuneService.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_TilfredshedKommuneService.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_TilfredshedKommuneService.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_TilfredshedKommuneService.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_TilfredshedKommuneService.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MedArbSygefravær.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MedArbSygefravær.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MedArbSygefravær.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MedArbSygefravær.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MedArbSygefravær.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MedArbSygefravær.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_MedArbSygefravær.Dato</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_SamletTrivsel.kategori</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_SamletTrivsel.placering</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_SamletTrivsel.senesteEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_SamletTrivsel.statusEgedal</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_SamletTrivsel.senesteDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_SamletTrivsel.statusDanmark</td>
                <td style="border: 1px solid #ccc; text-align: center; background-color:whitesmoke; border-color: white; padding: 1rem; font-size: 25px;">@tal_SamletTrivsel.Dato</td>
            </tr>
        </tbody>
    </table>

</div>
}


@code {

        private Egedalmaal tal_Afgangskarakterer;
        private Egedalmaal tal_FraværFolkeskolen;
        private Egedalmaal tal_ForebyggelseUdsatteBørn;
        private Egedalmaal tal_Sikker_Skoletrafik;
        private Egedalmaal tal_EleverUngdomsUdd;
        private Egedalmaal tal_Beskæftigelsesgraden;
        private Egedalmaal tal_Erhvervsklima;
        private Egedalmaal tal_Udlicitering;
        private Egedalmaal tal_FysiskHelbred;
        private Egedalmaal tal_FysiskAktivitet;
        private Egedalmaal tal_Rygning;
        private Egedalmaal tal_Alkohold;
        private Egedalmaal tal_Genindlæggelser;
        private Egedalmaal tal_OfteAlene;
        private Egedalmaal tal_MentaltHelbred;
        private Egedalmaal tal_Stress;
        private Egedalmaal tal_AntalInbrud;
        private Egedalmaal tal_AnmVoldsforbrydelse;
        private Egedalmaal tal_LiggetidHusSalg;
        private Egedalmaal tal_BesøgBibl;
        private Egedalmaal tal_UnikkeMedlIdræt;
        private Egedalmaal tal_Genanvendelse;
        private Egedalmaal tal_CO2_reduktion;
        private Egedalmaal tal_Anbefaling;
        private Egedalmaal tal_TilfredshedKommuneService;
        private Egedalmaal tal_MedArbSygefravær;
        private Egedalmaal tal_SamletTrivsel;

        protected override async Task OnInitializedAsync()
        {

            //"Afgangskarakterer i folkeskolen":
            tal_Afgangskarakterer = await Http.GetFromJsonAsync<Egedalmaal>("http://localhost:44357/api/egemaal/1");
            //StateHasChanged();
            //"Fravær blandt elever i folkeskolen":
            tal_FraværFolkeskolen = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/2");
            //StateHasChanged();
            //"Forebyggelse til udsatte børn og unge":
            tal_ForebyggelseUdsatteBørn = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/3");
            //StateHasChanged();
            //"Sikker skoletrafik"
            tal_Sikker_Skoletrafik = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/4");
            //"Elever i ungdomsuddannelse"
            tal_EleverUngdomsUdd = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/5");
            //StateHasChanged();
            //"Beskæftigelsesgraden":
            tal_Beskæftigelsesgraden = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/6");
            //StateHasChanged();
            //"Erhvervsklima":
            tal_Erhvervsklima = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/7");
            //StateHasChanged();
            //"Udlicitering og konkurrenceudsættelse":
            tal_Udlicitering = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/8");
            //StateHasChanged();
            //"Fysisk helbred":
            tal_FysiskHelbred = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/9 ");
            //StateHasChanged();
            //"Fysisk aktivitet"
            tal_FysiskAktivitet = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/10");
            //StateHasChanged();
            //"Rygning":
            tal_Rygning = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/11");
            //StateHasChanged();
            //"Alkohol":
            tal_Alkohold = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/12");
            //StateHasChanged();
            //"Genindlæggelser":
            tal_Genindlæggelser = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/13");
            //StateHasChanged();
            //"Ofte uønsket alene (færrest)":
            tal_OfteAlene = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/14");
            //StateHasChanged();
            //"Mentalt helbred":
            tal_MentaltHelbred = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/15");
            //StateHasChanged();
            //"Stress":
            tal_Stress = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/16");
            //StateHasChanged();
            //"Antal indbrud":
            tal_AntalInbrud = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/17");
            //StateHasChanged();
            //"Anmeldte voldsforbrydelser":
            tal_AnmVoldsforbrydelse = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/18");
            //StateHasChanged();
            //"Liggetid på hussalg":
            tal_LiggetidHusSalg = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/19");
            //StateHasChanged();
            //"Besøg på bibliotekerne":
            tal_BesøgBibl = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/20");
            //StateHasChanged();
            //"Unikke medlemmer af idrætsorganisation":
            tal_UnikkeMedlIdræt = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/21");
            //StateHasChanged();
            //"Genanvendelse af affald":
            tal_Genanvendelse = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/22");
            //StateHasChanged();
            //"CO2 reduktion":
            tal_CO2_reduktion = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/23");
            //StateHasChanged();
            //"Anbefaling af kommunen":
            tal_Anbefaling = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/24");
            //StateHasChanged();
            //"Tilfredshed med kommunens service":
            tal_TilfredshedKommuneService = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/25");
            //StateHasChanged();
            //"Medarbejdernes sygefravær":
            tal_MedArbSygefravær = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/26");
            //StateHasChanged();
            //"Samlet trvisel 4.-9kl":
            tal_SamletTrivsel = await Http.GetFromJsonAsync<Egedalmaal>("http://egedal27api:84/api/egemaal/27");
            //StateHasChanged();


        }


        public class Egedalmaal
        {
            public int id { get; set; }
            public string kategori { get; set; }
            public double? statusEgedal { get; set; }
            public double? statusDanmark { get; set; }
            public double? senesteEgedal { get; set; }
            public double? senesteDanmark { get; set; }
            public int? placering { get; set; }
            public string? Hvad { get; set; }
            public string? Hvorfor { get; set; }
            public string? Initiativer { get; set; }
            public string? Indikator { get; set; }
            public string? Dato { get; set; }


        }
    }
